{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}"> {% block title %}
    <title>Document</title>{% endblock %}
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <a href="{% url 'index' %}" class="header__logo">
                <img src="{% static 'images/logo.svg' %}" alt="logo">
                <h1>Vet City</h1>
            </a>
            <nav class="header__nav">
                <ul class="header__menu">
                    <li class="header__item"><a href="#">Главная</a></li>
                    <li class="header__item"><a href="#">Пусто</a></li>
                    <li class="header__item"><a href="#">Пусто</a></li>
                    <li class="header__item"><a href="#">Контакты</a></li>
                </ul>
            </nav>
            <div class="header__authorization-block">
                <a href="#" class="header__button header__button_signup">Войти</a>
                <a href="#" class="header__button header__button_signin">Регистрация</a>
            </div>
        </header>

        {% block content %} content {% endblock %}
    </div>
</body>

</html>