/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 16px;
}

$red: #ec0b43;
$green: #23d16c;
$blue: #6622cc;

body {
    font-family: "Raleway", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 1vw;
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        background-color: $green;
        img {
            width: 55px;
        }
        h1 {
            margin-left: 8px;
            font-size: 2rem;
        }
    }

    &__trigram {
        position: absolute;
        display: flex;
        padding: 10px;
        align-items: center;
        color: #fff;
        top: 0;
        left: 0;
        transform: translate(-99%, 0);
        transition: 0.55s;

        svg {
            margin-left: 5px;
            width: 20px;
            height: 20px;
            fill: #fff;
        }

        &.open {
            opacity: 0;
            transition: 0.55s;
        }
    }

    &__nav {
        max-width: 50%;
        flex-grow: 2;
    }

    &__menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__item {
        a {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 600;
            color: #000;
            transition: 200ms;

            &:hover {
                color: $green;
                transition: 200ms;
            }
        }
    }

    &__button {
        display: inline-block;
        padding: 10px 15px;
        margin: 0 5px;
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
        color: #000;
        transition: 200ms;

        &_signup {
            border: 1px solid $green;

            &:hover {
                background-color: $green;
                color: #fff;
            }
        }

        &_signin:hover {
            color: $green;
        }
    }

    &__mobile-logo {
        display: none;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $green;
        padding: 2px;

        img {
            width: 36px;
        }

        h1 {
            font-weight: 600;
            color: #fff;
        }
    }

    &__mobile-close-button {
        display: none;
        position: absolute;
        top: 0;
        right: 100px;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        opacity: 0.5;

        img {
            width: 20px;
            height: 20px;
            margin-left: 6px;
        }
    }
}

.body-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    transition: 0.55s;

    &.active {
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1000;
    }
}

.main {
    padding: 50px 1vw;
}

.page-title {
    font-size: 2.2rem;
}

.slider {
    position: relative;
    margin: 0 auto;
    width: 90vw;
    height: 450px;
    overflow: hidden;

    &__wrap {
        position: relative;
        padding: 0 55px;
    }

    &__background-decorator {
        position: absolute;
        width: 100%;
        height: 75%;
        bottom: 0;
        left: 0;
        background: rgb(35, 209, 108);
        background: linear-gradient(39deg, rgba(35, 209, 108, 1) 29%, rgba(255, 255, 255, 1) 100%);
        z-index: -1;
        border-radius: 30px;
    }

    &__list {
        display: flex;
        height: 100%;
        width: 9999px;
        transition: 0.5s;
    }

    &__slide {
        display: flex;
        justify-content: flex-end;
        width: 90vw;
        height: 100%;

        img {
            height: 175%;
        }
    }
    &__button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 60%;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 2px solid $green;
        transform: translate(0, -50%);
        font-size: 2rem;
        cursor: pointer;
        transition: 200ms;

        svg {
            width: 22px;
            height: 22px;
            fill: $green;
            transition: 200ms;
        }

        &:hover {
            border-color: lighten($color: $green, $amount: 30);

            svg {
                fill: lighten($color: $green, $amount: 30);
                transition: 200ms;
            }
        }

        &:active {
            transform: translate(0, -50%) rotate(180deg) scale(0.9);
        }

        &_left {
            left: 0;
            transform: translate(0, -50%) rotate(180deg);
        }

        &_right {
            right: 0;

            &:active {
                transform: translate(0, -50%) scale(0.9);
            }
        }
    }
}

@media (max-width: 1100px) {
    .header {
        position: fixed;
        box-sizing: border-box;
        justify-content: space-between;
        height: 100vh;
        top: 0;
        right: 0;
        padding-right: 100px;
        flex-direction: column;
        box-shadow: 0px 10px 8px 0px rgba(34, 60, 80, 0.7);
        background-color: #fff;
        z-index: 5000;
        transition-duration: 0.55s;
        transition-timing-function: cubic-bezier(0.55, -0.5, 0.42, 1.5);
        transform: translate(100%, 0);

        &.open {
            transform: translate(100px, 0);
        }

        &__mobile-logo {
            display: flex;
        }

        &__mobile-close-button {
            display: flex;
        }

        &__logo {
            display: none;
        }

        &__nav {
            margin-bottom: 50px;
            margin-top: 30px;
            flex-grow: 0;
        }

        &__menu {
            flex-direction: column;
        }

        &__item {
            margin: 10px 0;
            text-align: center;
        }

        &__button {
            display: block;
        }
    }
}
